ul {
  font-family: monospace;
  font-size: 2em;
  list-style: none;
  margin: 2em;
  padding: 0;
}
ul li {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 1.5em;
  position: relative;
}
ul li:after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  background: #d2153a;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: 0.25em;
  left: 0;
}

.btn-quiz {
  font-family: cursive;
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid #da4453;
  background: transparent;
  height: 33px;
  width: 16%;
}
